openapi: 3.1.0
info:
  title: Google Anthos Google GKE On-Prem BareMetalClusters VmwareNodePools API
  description: The GKE On-Prem API provides programmatic access to manage the lifecycle of on-premises Kubernetes clusters running on VMware or bare metal infrastructure as part of Google Distributed Cloud. It enables creating, updating, deleting, and monitoring clusters, managing node pools, and handling enrollment and upgrades.
  version: v1
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/anthos/clusters/docs/on-prem-api/overview
  termsOfService: https://cloud.google.com/terms
servers:
- url: https://gkeonprem.googleapis.com/v1
  description: Production Server
security:
- oauth2: []
tags:
- name: VmwareNodePools
  description: Operations for managing node pools in VMware clusters
paths:
  /projects/{projectId}/locations/{location}/vmwareClusters/{clusterId}/vmwareNodePools:
    get:
      operationId: listVmwareNodePools
      summary: Google Anthos List VMware node pools
      description: Lists VMware node pools in a given VMware cluster.
      tags:
      - VmwareNodePools
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVmwareNodePoolsResponse'
    post:
      operationId: createVmwareNodePool
      summary: Google Anthos Create a VMware node pool
      description: Creates a new VMware node pool in a given cluster.
      tags:
      - VmwareNodePools
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
      - name: location
        in: path
        required: true
        schema:
          type: string
      - name: clusterId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VmwareNodePool'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
components:
  schemas:
    VmwareNodePool:
      type: object
      description: A VMware node pool resource.
      properties:
        name:
          type: string
        displayName:
          type: string
        config:
          type: object
          properties:
            cpus:
              type: integer
            memoryMb:
              type: integer
            replicas:
              type: integer
            imageType:
              type: string
            bootDiskSizeGb:
              type: integer
        state:
          type: string
          enum:
          - STATE_UNSPECIFIED
          - PROVISIONING
          - RUNNING
          - RECONCILING
          - STOPPING
          - ERROR
          - DEGRADED
        createTime:
          type: string
          format: date-time
    ListVmwareNodePoolsResponse:
      type: object
      properties:
        vmwareNodePools:
          type: array
          items:
            $ref: '#/components/schemas/VmwareNodePool'
        nextPageToken:
          type: string
    Operation:
      type: object
      properties:
        name:
          type: string
        done:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to Google Cloud resources
externalDocs:
  description: GKE On-Prem API Documentation
  url: https://cloud.google.com/anthos/clusters/docs/on-prem-api/reference/rest
